.db {
    display: block;
}
.left-column {
    position: fixed;
    width: 200px;
}
.right-column {
    margin-left: 200px;
}
.full-width {
    width: 100%;
}
.no-width {
    width: inherit !important;
}
.title {
    text-align: left;
    padding-top: 0;
}